body{
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1{
    font-size: 28pt;
    text-align: center;
    margin-bottom: 20px;

}

.block{
    background-color: beige;
    margin-bottom: 20px;
}