@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lobster&display=swap');
body {
   background-color: rgb(255, 255, 255);

}
.logo{
  width: 100px;
  display: flex;
  align-items: center ;
}
.item{
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Lobster", sans-serif; 
  margin-top: 50px;
  color: rgb(27, 27, 114);
}
a{
  font-size: 30px;
}
a:hover{
  scale: 1.1;
  text-shadow: 0 4px 4px #555;
 
}

.h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(141, 195, 254);
    top: 0;
    right: 0;
    left: 0;
    padding: 40px;
    text-decoration: none;
    
  }

 
.container{
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.card{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 1px solid rgb(0, 0, 0) ;
    border-radius: 20px;
    margin-top: 90px;
    background-color: rgb(147, 205, 255);
}

.card img{
    width: 250px;
    height: 350px;
}
