main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(141, 195, 254);
    top: 0;
    right: 0;
    left: 0;
    padding: 40px;
    text-decoration: none;
    
  }
   
.container{
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.card{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 1px solid rgb(0, 0, 0) ;
    border-radius: 20px;
    margin-top: 90px;
    background-color: rgb(147, 205, 255);
}
